  <div class="field">
    <%= form.label :direccion %>
    <%= form.text_field :name, id:'autocomplete', placeholder:"Enter your address", onFocus:"geolocate()", type:"text", class:"form-control" %>
  </div>

  <%= link_to_add_fields 'Añadir Direccion', f, :addresses %>



  <script src=<%= google_maps_api_autocomplete_url %> async defer></script>
<script>



var placeSearch, autocomplete;
  var componentForm = {
    street_number: 'short_name',
    route: 'long_name',
    locality: 'long_name',
    administrative_area_level_1: 'short_name',
    country: 'long_name',
    postal_code: 'short_name'
  };

function initAutocomplete() {
  // Create the autocomplete object, restricting the search to geographical
  // location types.
  autocomplete = new google.maps.places.Autocomplete(
    /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
    {types: ['geocode']});

  // When the user selects an address from the dropdown, populate the address
  // fields in the form.
  autocomplete.addListener('place_changed');
}

</script>