<h2>Editar tienda</h2>

<%= render 'form', store: @store %>

<div class="container">
<%= link_to 'Show', @store, class:"p-2 btn btn-info" %> 
<%= link_to 'Back', stores_path, class:"p-2 btn btn-info"  %>
</div>