    <footer>
      <div class="footer-copyright text-center bg-dark text-light py-3"> <%= link_to image_tag("veganlog_navbar.png", height: '25'), root_path %> by Hugo Moraga. Todos los Derechos Reservados.</div>
    </footer>