/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/




html {
  min-height: 100%;
  position: relative;
}
body {
  background: url("background.jpg"); 
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  margin-bottom: 60px;
}
footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
}


ul{
  list-style:none; 
}

.card-custom {
  -webkit-box-shadow: 3px 2px 6px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 2px 6px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 2px 6px 0px rgba(0,0,0,0.75);
}

.custom-font {
  font-family: 'Quicksand', sans-serif;
  color: #008080;
  font-weight: bold;
  text-shadow: 2px 2px 4px white;
}

.custom-font-white {
  font-family: 'Quicksand', sans-serif;
  color: black;
  font-weight: bold;
  text-shadow: 2px 2px 4px white;
}

h1 {
  font-size: 40px;
}

IMG.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.box-form {
  
  justify-content: center;
  width: 50vw;
  padding: 50px;
  margin: 20px;
}
.card {
  overflow: hidden;
  text-overflow: ellipsis; 
}

//Vars
$primary: #00e599;
$white: rgb(255, 255, 255);

//PriceBlock-sliderContainer
.PriceBlocks-sliderContainer:after,
.PriceBlocks-sliderContainer:before {
  position: absolute;
  top: 0;
  z-index: 200;
  width: 17.5%;
  height: 100%;
  content: "";
  pointer-events: none;
}
    .PriceBlocks-slider {
      transition: opacity .5s ease-in-out;
    }
    
    //PriceBlock-container
    .PriceBlock-container {
      top: 50%;
      padding: 16px 0;
      transform: translateY(-50%);
    }
    
    .PriceBlock-container+.PriceBlock-container {
      margin-left: -1px;
    }
    
    //PriceBlock
    .PriceBlock {
      background: $white;
      position: relative;
      overflow: hidden;
      padding: 32px 16px;
      width: 350px;
      border: 1px solid $primary;
      transition: padding .4s ease-in-out;
    }
    
    //PriceBlock-top
    .PriceBlock-top {
      text-align: center;
      font-weight: 800;
    }
    
    .u-flexCenter {
      justify-content: center!important;
    }
    
    .u-flex,
    .u-flexDeepMatch > * {
      display: flex;
    }
    
    .u-flex {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    
    .PriceBlock-price {
      align-items: baseline;
      font-size: 64px;
      line-height: 1;
      transition: transform 0.25s cubic-bezier(1, 0, 0, 1);
      transform: scale(.75);
    }
    
    .PriceBlocks-slider .PriceBlock-container.is-selected .PriceBlock-dollar,
    .PriceBlocks-slider .PriceBlock-container.is-selected .PriceBlock-price {
      transform: scale(1);
    }
    
    .PriceBlocks-slider .PriceBlock-container.is-selected .PriceBlock-list {
      transform: translateX(-50%) scale(1);
    }
    
    .PriceBlock-list {
      position: relative;
      left: 50%;
      display: inline-block;
      transition: transform 0.4s ease-in-out;
      transform: translateX(-50%) scale(.85);
      margin-top: 16px;
    }
    
    .u-textLarge {
      font-size: 20px!important;
    }
    
    .u-textPrimary {
      color: $primary!important;
    }
    
    .PriceBlock-dollar {
      align-self: flex-start;
      margin-right: 4px;
      font-size: 30px;
    }
    
    .PriceBlock-time {
      margin-left: 4px;
      font-size: 20px;
    }
    
    .PriceBlocks-slider .PriceBlock:before {
      box-shadow: inset -15px 0 30px -15px rgba(0, 105, 255, .5);
      transform: translateX(100%);
    }
    
    .PriceBlocks-slider .PriceBlock:after {
      box-shadow: inset 15px 0 30px -15px rgba(0, 105, 255, .5);
      transform: translateX(-100%);
    }
    
    .PriceBlock-container.is-next .PriceBlock:after,
    .PriceBlock-container.is-previous .PriceBlock:before {
      transform: translateX(0);
    }
    
    .PriceBlocks-slider .PriceBlock:after,
    .PriceBlocks-slider .PriceBlock:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      transition: transform .25s cubic-bezier(1, 0, 0, 1);
    }
    
    .PriceBlocks-slider .PriceBlock-container.is-selected .PriceBlock {
      padding-top: 48px;
      padding-bottom: 48px;
    }
    
    //PrevNext
    .flickity-prev-next-button {
      width: 100px;
      height: 100px;
      background: transparent;
      z-index: 400;
    }
    
    .flickity-prev-next-button:hover {
      background: transparent;
    }
    
    .flickity-prev-next-button .arrow {
      fill: $primary;
    }
    
    .flickity-prev-next-button.no-svg {
      color: $primary;
    }
    
    //Page Dots
    .flickity-page-dots {
      bottom: -40px;
    }
    .flickity-viewport {
      height: 400px !important;
    }
    
    .flickity-page-dots .dot {
      width: 12px;
      height: 12px;
      opacity: 1;
      background: transparent;
      border: 1px solid $primary;
      transition: all .4s ease-in-out;
    }
    
    .flickity-page-dots .dot.is-selected {
      background: $primary;
    }
    
    
    /*Font Attributes*/
    .navbar li a {
      font-size: 16px;
      font-weight: 800;
      color: white !important;
      text-shadow: 1px 1px 5px black;
    }
    
