// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



//Vars
$primary: #00e599;
$white: rgb(255, 255, 255);

//PriceBlock-sliderContainer
.PriceBlocks-sliderContainer:after,
.PriceBlocks-sliderContainer:before {
  position: absolute;
  top: 0;
  z-index: 200;
  width: 17.5%;
  height: 100%;
  content: "";
  pointer-events: none;
}
    .PriceBlocks-slider {
      transition: opacity .5s ease-in-out;
    }
    
    //PriceBlock-container
    .PriceBlock-container {
      top: 50%;
      padding: 16px 0;
      transform: translateY(-50%);
    }
    
    .PriceBlock-container+.PriceBlock-container {
      margin-left: -1px;
    }
    
    //PriceBlock
    .Block {
      background: $white;
      position: relative;
      overflow: hidden;
      padding: 32px 16px;
      width: 300px;
      border: 1px solid $primary;
      transition: padding .4s ease-in-out;
    }
    
    //PriceBlock-top
    .Block-top {
      text-align: center;
      font-weight: 800;
      vertical-align: bottom;
    }
    
    .u-flexCenter {
      justify-content: center!important;
    }
    
    .u-flex,
    .u-flexDeepMatch > * {
      display: flex;
    }
    
    .u-flex {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    
    .PriceBlock-price {
      align-items: baseline;
      font-size: 64px;
      line-height: 1;
      transition: transform 0.25s cubic-bezier(1, 0, 0, 1);
      transform: scale(.75);
    }
    
    .PriceBlocks-slider .PriceBlock-container.is-selected .PriceBlock-dollar,
    .PriceBlocks-slider .PriceBlock-container.is-selected .PriceBlock-price {
      transform: scale(1);
    }
    
    .PriceBlocks-slider .PriceBlock-container.is-selected .PriceBlock-list {
      transform: translateX(-50%) scale(1);
    }
    
    .PriceBlock-list {
      position: relative;
      left: 50%;
      display: inline-block;
      transition: transform 0.4s ease-in-out;
      transform: translateX(-50%) scale(.85);
      margin-top: 16px;
    }
    
    .u-textLarge {
      font-size: 20px!important;
    }
    
    .u-textPrimary {
      color: $primary!important;
    }
    
    .PriceBlock-dollar {
      align-self: flex-start;
      margin-right: 4px;
      font-size: 30px;
    }
    
    .PriceBlock-time {
      margin-left: 4px;
      font-size: 20px;
    }
    
    .PriceBlocks-slider .PriceBlock:before {
      box-shadow: inset -15px 0 30px -15px rgba(0, 105, 255, .5);
      transform: translateX(100%);
    }
    
    .PriceBlocks-slider .PriceBlock:after {
      box-shadow: inset 15px 0 30px -15px rgba(0, 105, 255, .5);
      transform: translateX(-100%);
    }
    
    .PriceBlock-container.is-next .PriceBlock:after,
    .PriceBlock-container.is-previous .PriceBlock:before {
      transform: translateX(0);
    }
    
    .PriceBlocks-slider .PriceBlock:after,
    .PriceBlocks-slider .PriceBlock:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      transition: transform .25s cubic-bezier(1, 0, 0, 1);
    }
    
    .PriceBlocks-slider .PriceBlock-container.is-selected .PriceBlock {
      padding-top: 48px;
      padding-bottom: 48px;
    }
    
    //PrevNext
    .flickity-prev-next-button {
      width: 100px;
      height: 100px;
      background: transparent;
      z-index: 600;
    }
    
    .flickity-prev-next-button:hover {
      color: $primary;

    }
    
    .flickity-button-icon {
        color: #008080;
        width: 50%;
        height: 50%;
    }


    //Page Dots
    .flickity-page-dots {
      bottom: -20px;
    }
    
 
    
    /*Font Attributes*/
    .navbar li a {
      font-size: 16px;
      font-weight: 800;
      color: white !important;
      text-shadow: 1px 1px 5px black;
    }
    
