<%= form_with(model: @category, local: true) do |form| %>

<div class="d-flex justify-content-center">

<div class="box-form">
<form>
  <div class="form-group">
    <%= form.label :Nombre, class: 'h4' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>
</form>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

</div>

</div>