<!-- Carrusel JS con Cartas Bootstrap -->
<div class="PriceBlocks-sliderContainer pb-3">
    <div class="PriceBlocks-slider" >
      <% @products_last .each do |product| %>
       <div class="PriceBlock-container">
          <div class="Block m-1">
          <div class="Block-top">
              <div class="card-img-top" style="height: 180px;">
              <% if product.image.attached? %>
              <%= image_tag product.image.variant(resize: '180x180') %>
              <% end %>
               </div>
               </div>
              <div class="card p-1" style="height: 150px;">
                <p class="card-title"><%=product.productname %></p>
                <p class="card-text"> <%=product.description %></p>
                <p class="card-text"><%=product.comercialName %> </p>

              </div>
            </div>
          </div>
      <% end %>
    </div>
</div>
  

<h1 class="text-center custom-font pt-5">Busqueda</h1>
      <div id="search">

        <form>
          <div class="form-group mx-auto" style="max-width: 50vw;">
            <label for="formGroupExampleInput"></label>
             <input type="text" name="q" class="form-control form-control-lg card-custom" id="formGroupExampleInput" placeholder="buscar...">
          </div>
        <form><br>
      </div>
          
      <div id="append">
      </div>


